.features {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 20px;
  background-color: #bdad7044;
  border: 1px solid;
  padding: 15px 0;
}
.imgages {
  border-radius: 5px;
  border: 1px solid gray;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px 1px;
  img {
    width: 130px;
  }
  h6 {
    background-color: #fddde4;
    padding: 10px;
    border-radius: 5px;
    color: #088178;
  }
}
