.iconsize{
    width: 25px;
    height: 25px;
    padding: 5px;
    color:#088178;
}

.FacartIcon{
    width: 35px;
    height: 32px;
    border: 1px solid;
    padding: 5px;
    border-left: none;
    cursor: pointer;
}
