.search{
    display: flex;
    margin-top: 5px;
    #srchInput{
      height: 14px;
      width: 18vw;
    }
    input:focus{
      outline: none;

    }
    input{
      border-radius: 18px;
    }
   
  }